{% extends "public/templates/public_templates.html" %}

{% block title %} ATTESTATION CRÉÉE! {% endblock %}

{% block styles %}
h1 {
    color:white;
    margin-top: 2%;
    margin-bottom: 4%;
    }
{% endblock %}

{% block contenu %}
<center>
    {% if (heure_limite_ret<6) or (heure_limite_ret>=21) or (heure_dep<6) or (heure_dep>=21) %}
        <div class="alert alert-danger" role="alert">
          Impossible de créer une attestation qui rentre dans les horaires du couvre-feu. Désolé.
        </div>
        <a href="javascript:history.back()" method="post">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Revenir au formulaire</button>
        </a>
    {% elif nb_attestations==1 %}
        <h1>Attestation créée</h1>
        <a class="btn btn-primary" href="{{ url_for('static',filename='text/Nouvelle_Attestation_1.docx') }}" download>Cliquer ici pour la télécharger</a>
    {% elif nb_attestations<1 %}
        <div class="alert alert-danger" role="alert">
          L'heure de retour doit être postérieure à l'heure de départ.
        </div>
        <a href="javascript:history.back()" method="post">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Revenir au formulaire</button>
        </a>
    {% else %}
        <h1>Attestations créées ({{nb_attestations}})</h1>
        <a class="btn btn-primary" href="{{ url_for('static',filename='text/Attestations.zip') }}" download>Cliquer ici pour les télécharger</a>
    {% endif %}

</center>
{% endblock %}